###############################
# Maven / JavaFX Project
###############################

# Diretórios de build e compilação
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar
mvnw.cmd
mvnw

# Logs e temporários
*.log
*.tmp
*.bak

# Arquivos de backup do editor
*~
*.swp

###############################
# IntelliJ IDEA
###############################
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/

###############################
# Eclipse
###############################
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

###############################
# NetBeans
###############################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

###############################
# VS Code
###############################
.vscode/

###############################
# Sistema operacional
###############################
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
