.root {
    -fx-background-color: WHITE;
}

.cabecalho-topo {
    -fx-background-color: #FF5722;
}

.voltar {
    -fx-text-fill: WHITE;
    -fx-font-size: 16.0;
    -fx-background-color: #FF5722;
}

.titulo-principal {
    -fx-text-fill: #ff3b00;
    -fx-font-size: 24.0;
    -fx-font-weight: bold;
}

.painel-formulario {
    -fx-background-color: #FFFAF7;
    -fx-background-radius: 25;
}

.label-campo {
    -fx-font-size: 16.0;
    -fx-text-fill: gray;
}

.form-field {
    -fx-border-color: #FFB08E;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-padding: 12px;
    -fx-border-width: 1.5px;
}

.button {
    -fx-background-color: #FF5722;
    -fx-text-fill: WHITE;
    -fx-font-size: 17px;
    -fx-background-radius: 20;
}
