.root {
    -fx-background-color: WHITE;
}

.cabecalho-topo {
    -fx-background-color: #FF5722;
}

.label-voltar {
    -fx-text-fill: WHITE;
    -fx-font-size: 16.0;
}

.titulo-principal {
    -fx-text-fill: #ff3b00;
    -fx-font-size: 24.0;
    -fx-font-weight: bold;
}

.painel-formulario {
    -fx-background-color: #FFFAF7;
    -fx-background-radius: 25;
}

.label-campo {
    -fx-font-size: 16.0;
    -fx-text-fill: gray;
}

.form-field {
    -fx-border-color: #FFB08E;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-padding: 12px;
    -fx-border-width: 1.5px;
}

.bottom {
    -fx-background-color: #FF5722;
    -fx-text-fill: WHITE;
    -fx-font-size: 17px;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.bottom_voltar{
    -fx-background-color: #FF5722;
    -fx-text-fill: WHITE;
    -fx-font-size: 17px;
    -fx-background-radius: 20;
}
.parada-item {
    -fx-background-color: #FFFAF7;
    -fx-border-color: #FFB08E;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-width: 1.5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0, 0, 0);
}

.parada-nome-texto {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.btn-entregue-status {
    -fx-background-color: #FF5722;
    -fx-text-fill: WHITE;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-background-radius: 5px;
}